{% extends 'base.html' %}

{% block title %}
Парсинг
{% endblock %}

{% block body %}
<ul class="nav flex-column">
<li class="nav-item"><a href="/parsing_all" class="nav-link px-2 text-body-secondary">Парсить все магазины</a></li>
<li class="nav-item"><a href="/parsing_auchan" class="nav-link px-2 text-body-secondary">Парсить Ашан</a></li>
<li class="nav-item"><a href="/parsing_globus" class="nav-link px-2 text-body-secondary">Парсить Глобус</a></li>
<li class="nav-item"><a href="/parsing_magnit" class="nav-link px-2 text-body-secondary">Парсить Магнит</a></li>
<li class="nav-item"><a href="/parsing_metro" class="nav-link px-2 text-body-secondary">Парсить Метро</a></li>
<li class="nav-item"><a href="/parsing_miratorg" class="nav-link px-2 text-body-secondary">Парсить Мираторг</a></li>
<li class="nav-item"><a href="/parsing_perekrestok" class="nav-link px-2 text-body-secondary">Парсить Перекресток</a></li>
<li class="nav-item"><a href="/parsing_vprok" class="nav-link px-2 text-body-secondary">Парсить Перекресток Впрок</a></li>
<li class="nav-item"><a href="/parsing_vkusvill" class="nav-link px-2 text-body-secondary">Парсить Вкусвилл</a></li>
</ul>
{% endblock %}