{% extends 'base.html' %}

{% block title %}
По чеку
{% endblock %}

{% block body %}
      {% include 'includes/parsing_menu.html' %}
<h6>Данные о реальных ценах самых дешевых продуктов из каждой категории товаров для каждого магазина</h6>
<h6>Рассчет ведется по данным за последние 3 дня</h6>
<h6>Расширенная информация - на странице "За 3 дня"</h6>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Магазин</th>
        <th>Категория</th>
        <th>Название продукта</th>
        <th>Реальная цена</th>

      </tr>
      </thead>
      <tbody>
          {% if products is not none %}
          {% for product in products %}
          <tr>
            <td>{{product[0]}}</td>
            <td>{{product[1]}}</td>
            <td>{{product[2]}}</td>
            <td>{{product[3]}}</td>
          </tr>
          {% endfor %}
          {% else %}
          <p> </p>
          <p>Актуальные данные (за последние три дня) отсутствуют, произведите повторный парсинг</p>

          {% endif %}
      </tbody>
</table>

{% endblock %}