{% extends 'base.html' %}

{% block title %}
Сегодня
{% endblock %}

{% block body %}
      {% include 'includes/parsing_menu.html' %}
<h5>Собранные данные по товарам - за последние три дня</h5>
<table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>Дата и время записи</th>
        <th>Магазин</th>
        <th>Категория</th>
        <th>Название продукта</th>
        <th>Цена</th>
        <th>Объем</th>
        <th>Реальная цена</th>
      </tr>
      </thead>
     <tbody>
          {% if products is not none %}
          {% for product in products %}
          <tr>
            <td>{{product[0]}}</td>
            <td>{{product[1].strftime('%Y-%m-%d %H:%M')}}</td>
            <td>{{product[2]}}</td>
            <td>{{product[3]}}</td>
            <td>{{product[4]}}</td>
            <td>{{product[5]}}</td>
            <td>{{product[6]}}</td>
            <td>{{product[7]}}</td>
            <td>{{product[8]}}</td>
          </tr>
          {% endfor %}
          {% else %}
          <p> </p>
          <p>Актуальные данные (за последние три дня) отсутствуют, произведите повторный парсинг</p>

          {% endif %}
      </tbody>
</table>

{% endblock %}