<style>
    .container {
        background-color: #f8f9fa;
        padding: 10px;
    }

    .link-body-emphasis {
        color: #007bff;
    }

    .link-body-emphasis:hover {
        text-decoration: underline;
    }

    .active {
        background-color: #cfe4f7;
        color: #333;
    }
</style>


<div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4">Pricing parcer</span>
        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none {{ 'active' if active_page == 'home' else '' }}" href="/home">Главная</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none {{ 'active' if active_page == 'product_list' else '' }}" href="/product_list">Товары для парсинга</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none {{ 'active' if active_page == 'parsing' else '' }}" href="/parsing">Парсинг</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none {{ 'active' if active_page in ['parsing_submenu', 'category_price', 'category_real_price', 'today_data', 'three_days_data', 'all_data', 'price_bill', 'price_real', 'products_cheapest', 'products_expensive', 'download', 'truncate'] else '' }}" href="/parsing_submenu">Результаты парсинга</a>
        </nav>
    </div>
</div>
